<!DOCTYPE html>
<html>
  <head>
    <title>Cinepolis</title>
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="row1">
          <ul>
            <li>
              <a href="#">
                <img src="https://static.cinepolis.com/img/lg-cinepolis.png" alt="Logo-cinepolis">
              </a>
            </li>
            <li>
              <select name="ciudad">
                <option value="CUU">Chihuahua</option>
                <option value="Delicias">Delicias</option>
                <option value="Juarez">Juarez</option>
              </select>
            </li>
            <li>
              <select name="cine">
                <option value="PC">Paseo Central</option>
              </select>
            </li>
            <li>
              <div class="btnCartelera">
                <span>VER CARTELERA</span>
              </div>
            </li>
            <li>
              <div class="iniciarSesion">
                <img src="http://static.cinepolis.com/img/icon-ID.png" alt="logo-login">
                <br>
                <span>Iniciar sesión</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="row2" style="background-color: #323232;">
          <div class="row2L">
            <a href="#"><i>hamburger-icon</i>Menú</a><!--<div><i></i></div>-->
            <a href="#">Próximos estrenos</a>
            <a href="#">Preventas</a>
            <a href="#">
                <img src="https://static.cinepolis.com/img/lg-cinepolis-vr.png" alt="cinepolis-vr-logo" style="width: 10%; height: auto;">
            </a>
          </div>
          <div class="row2R">
            <ul>
              <li>
                <a href="#">
                  <i>Facebook</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i>Twiter</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i>Instragram</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i>YouTube</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i>Google+</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i>in</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i>Phone</i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!--SLIDER-->
      <section class="slider">
        <ul>
          <li>
            <a href="#">
              <img src="https://static.cinepolis.com/img/front/1/20192892258453-prin.jpg" alt="IMAGEN SLIDER" style="width: 100%; height: auto;">
            </a>
          </li>
        </ul>
      </section>
      <section class="banner">
        <a href="#">
          <img src="https://static.cinepolis.com/img/plecas/front/1/2019124184751232.jpg" alt="">
        </a>
        <a href="#">
          <i>X</i>
        </a>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col l12">
              <button  name="button">Cartelera en ciudad norte mx</button>
              <select class="" name="">
                <option value="">CDMX Norte</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col l8">
              <div class="row">
                <div class="col l3">
                  <img src="https://static.cinepolis.com/img/peliculas/30464/1/1/30464.jpg" alt="pelicula">
                </div>
              </div>
            </div>
            <div class="col l4">
              <img src="https://static.cinepolis.com/img/comercializacion/1/20192718136409.jpg" alt="Lego">
            </div>
          </div>
        </div>
      </section>
      <section>
        <h1>Réntalas o cómpralas en klic</h1>
        <h4>Estrenos en renta</h4>
        <div class="row">
          <ul>
            <li>
              <div class="col l3">
                <a href="#">
                  <img src="https://assets.cinepolisklic.com/cmsklicia/movieimages/como-cortar-a-tu-patan/poster_resize_182X273.jpg" alt="IMAGEN SLIDER RENTA">
                </a>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer style="background-color: #212121;">
      <div class="row4" style="background-color: #424242;">
        <div class="col l6">
          <span>CATALOGO DE PELICULAS</span>
          <br>
          <select class="" placeholder="Busca una película" >
            <option value="" >Busca una película</option>
          </select>
        </div>
        <div class="col6">
          <span>CAMBIAR DE PAIS</span>
          <br>
          <select class="" name="">
            <option value="">México 
              <a href="../Assets/img/mx.png"></a>
            </option>
            <option value="">USA</option>
          </select>
        </div>
      </div>
      <div class="">
        <div class="MarcasFooter">
                <ul>
                    <div class="primerc">
                        <!-- forzado para evitar que se desborden a otra columna-->
                        <li>
                            <a href="http://www.cinepolis.com/4dx-mx"><img src="../Assets/img/1.PNG" alt="4dx"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/macro-xe"><img src="../Assets/img/2.PNG" alt="Macro XE"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/imax-mx"><img src="../Assets/img/3.PNG" alt="IMAX"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/sala-junior"><img src="../Assets/img/4.PNG" alt="Junior"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/vip"><img src="../Assets/img/5.PNG" alt="Cinepolis VIP"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/sala-de-arte"><img src="../Assets/img/6.PNG" alt="SALA DE ARTE"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/mas-que-cine"><img src="../Assets/img/7.PNG" alt="QUE CINE"></a>
                        </li>
                    </div>
                    <div class="segundac">
                        <li>
                            <a href="http://www.cinepolis.com/club-cinepolis-id"><img src="../Assets/img/8.PNG" alt="CLUB CINEPOLIS"></a>
                        </li>
                        <li>
                            <a href="https://fundacioncinepolis.org/programa-cinema-park.php"><img src="../Assets/img/9.PNG" alt="CINE PARK"></a>
                        </li>
                        <li>
                            <a href="http://fundacioncinepolis.com/"><img src="../Assets/img/10.PNG" alt="FUNDACION CINEPOLIS"></a>
                        </li>
                        <li>
                            <a href="https://www.cinepolis.com/id/"><img src="../Assets/img/11.PNG" alt="CINE CASH"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/garantia-cinepolis"><img src="../Assets/img/12.PNG" alt="GARANTIA CINEPOLIS"></a>
                        </li>
                        <li>
                            <a href="http://www.cinepolis.com/realidad-virtual"><img src="../Assets/img/13.PNG" alt="CINEPOLIS VR"></a>

                        </li>
                    </div>
                </ul>
        </div>
        </div>
        <div class="rowM">
          <div class="col-l3">
            <span class="TitSpam">CARTELERA</span>
            <hr>
            <ul class="list1">
              <li class="item"><a href="">Preventas</a></li>
              <li class="item"><a href="">Garantia cinepolis</a></li>
              <li class="item"><a href="">Muestras y festivales</a></li>
              <li class="item"><a href="">+ Que cine</a></li>
              <li class="item"><a href="">Proximos estrenos</a></li>
              <li class="item"><a href="">Cumpleaños de Pelicula</a></li>
            </ul>
          </div>
          <div class="col-l3">
            <span class="TitSpam">¿QUIÉNES SOMOS?</span>
            <hr>
            <ul class="list1">
              <li class="item"><a href="">Proveedores</a></li>
              <li class="item"><a href="">Trabaja en cinepolis</a></li>
              <li class="item"><a href="">Corporativo</a></li>
              <li class="item"><a href="">Proximas Aperturas</a></li>
              <li class="item"><a href="">Ventas Corporativas</a></li>
            </ul>
          </div>
          <div class="col-l3">
            <span class="TitSpam">LEGALES</span>
            <hr>
            <ul class="list1">
              <li class="item"><a href="">Terminos y condiciones</a></li>
              <li class="item"><a href="">Avisos de privacidad</a></li>
              <li class="item"><a href="">Terminos cinecash</a></li>
            </ul>
          </div>
          <div class="col-l3">
            <spam class="TitSpam">CONTACTO</spam>
            <hr>
            <ul class="list1">
              <li class="item">
                <a href="">
                <img src="../Assets/img/fac.PNG">
                <span>Facturación</span>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img src="../Assets/img/com.PNG">
                <span>Deja tus comentario</span>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img src="../Assets/img/chat.PNG">
                <span>Chatea con los expertos</span>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img src="../Assets/img/tel.PNG">
                <span>01 552 122 60</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="">
        <ul>
          <li>
            <a>
            <img src="https://static.cinepolis.com/img/1/2018320162638955.png" alt="">
            </a>
          </li>
          <li>
            <a>
            <img src="https://static.cinepolis.com/img/1/201412917445996.png" alt="">
            </a>
          </li>
          <li>
            <a>
            <img src="https://static.cinepolis.com/img/1/20141291751119.png" alt="">
            </a>
          </li>
          <li>
            <a>
            <img src="https://static.cinepolis.com/img/1/201412917543139.png" alt="">
            </a>
          </li>
          <li>
            <a>
            <img src="https://static.cinepolis.com/img/1/20141291768785.png" alt="">
            </a>
          </li>
          <li>
            <a>
            <img src="https://static.cinepolis.com/img/1/20141291763359.png" alt="">
            </a>
          </li>
        </ul>

      </div>
      <div class="copyright-row">
        <div class="ts">
          <span>Contenido del sitio 2014©  Cinépolis® de México, S.A. de C.V.</span>
        </div>
        <div class="copyright-right">
          <a href="http://www.ia.com.mx">
            <span>Desarrollado por IA Interactive</span>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
 