nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b5ba1;
  max-height: 80px;
}
.row1{
  margin: 0 auto;
  max-width: 930px;
  max-height: 60px;
  width: 100%;
}
ul{
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}
li{
  float:left;
}
li a{
  display: block;
  margin-left: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
li select{
  margin-left: 15px;
  display: block;
  height: 40px;
  width: 170px;
  border-radius: 2px;
}
.row2{
  background-color: #222222;
  display: grid;
  grid-template-columns: 50% 50%; 
}
.row2L{
  margin: 0;
  width: 70%;
  max-width: 930px;
  max-height: 60px;
  color: #c0943d;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1px;
  padding: 5px;
  background-color: #222222;
}
.row2L div{
  float: left;
}
.row2L a{
  color: #c0943d;
  text-decoration-line: none;
}
#menu{
  background-color: #1b1b1b;
  display: none;
}
.menu_txt a{
  text-decoration-line: none;
  color: #ffffff;
  padding: 5px;
}
