nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b5ba1;
  max-height: 80px;
}
.row1{
  margin: 0 auto;
  max-width: 930px;
  max-height: 60px;
  width: 100%;
}
ul{
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}
li{
  float:left;
}
li a{
  display: block;
  margin-left: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
li select{
  margin-left: 15px;
  display: block;
  height: 40px;
  width: 170px;
  border-radius: 2px;
}
