nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b5ba1;
  max-height: 80px;
}
.row1{
  margin: 0 auto;
  max-width: 930px;
  max-height: 60px;
  width: 100%;
}
.row1 ul{
  margin-bottom: 0;
}
ul{
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}
li{
  float:left;
}
li a{
  display: block;
  margin-left: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}
li select{
  margin-left: 15px;
  display: block;
  height: 40px;
  width: 170px;
  border-radius: 2px;
}
.row2{
  background-color: #222;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 40px;
  max-height: 40px;
}
.row2L{
margin-left: 45%;
margin-right: auto;
}
.row2R{
margin-left: auto;
margin-right: 40%;
}
.row2R ul{
  margin: 0;
  padding: 10px 0 10px 0;
}
.row2R ul i{
  color: #595959;
  font-size: 15pt;

}
.row2R ul i:hover{
  color: #ffca28;

}
.row2L a{
  color:  #ffca28;
  float: left;
  text-align: center;
  padding: 10px;
  background-color: #252525;
  text-decoration: none;
  font-size: 12pt;
  padding: 10px;
}
.row2L a:hover{
  background-color: #1b1b1b;
}
.row2L img{
  height: auto;
  width: 80px;
  vertical-align: middle;
}
.btnCartelera{
background-color: #edc13a;
color: black;
font-size: 13pt;
width: auto;
height: auto;
text-align: center;
border: 1px solid #edc13a;
border-radius: 3px;
padding: 9px;
margin-left: 10px;
font-weight: bold;

}
.iniciarSesion{
height: 100%;
width: auto;
margin-left: 20px;
text-align: center;
}
.iniciarSesion img{
  width: 35px;
  height: auto;
}

.icon-down{
  margin-right: 5px;
}
/*MENU*/
.menu-div{
  display: none;
  background-color: #1b1b1b;
  width: 100%;
  height: auto;

}
.menu-div hr{
  color: #252525;
  margin-left: 180px;
  margin-right: 180px;
}
.row-sup{
display: grid;
grid-template-columns: 16% 16% 16% 16% 16% 16%;
margin-left: 21%;
margin-right: 17%;
padding-top: 20px;
}
.row-sup div{
  text-align: center;
}
.row-sup img{
  margin-top: 15px;
}
.row-sup a{
  text-decoration: none;
  color: white;
  font-size: 13pt;

}

.row-inf {
  text-align: center;
}
.row-inf img{
  width: 60%;
  height: auto;
  margin-left: 2%;
}
/*FIN MENU*/
.res-menu:hover a{
  color: yellow;
}
.res-menu:hover img{
  border: 1px solid yellow;
}
